body {
    background-color:black;
    color:lightcoral;
    font-family:'Courier New', Courier, monospace;
    line-height 1.5;
}
#container {
    margin:0 5%
}
a {
    color:black;
    background-color:lightcoral;
    padding: 2px 4px;
}
a:visited {
    color:black;
}
ul li {
    list-style-image:url('gear.png');
    list-style-type:circle;
}
li.coffee {
    list-style-image:url('coffee.png');
    list-style-type:circle;
}
li.art{
    list-style-image:url('art.png');
    list-style-type:circle;
}
li.pizza{
    list-style-image:url('pizza.png');
    list-style-type:circle;
}
li.pinata{
    list-style-image:url('pinata.png');
    list-style-type:circle;
}
li.bike{
    list-style-image:url('bike.png');
    list-style-type:circle;
}