body {
    background-color:black;
    color:lightcoral;
    font-family:'Courier New', Courier, monospace;
    line-height 1.5;
}
#container {
    margin:0 5%
}
a {
    color:black;
    background-color:lightcoral;
    padding: 2px 4px;
}
a:visited {
    color:black;
}
