body {
    background-color:black;
    color:lightcoral;
    font-family:'Courier New', Courier, monospace;
    line-height: 2.0;
}
#container {
    margin:0 5%
}
a {
    color:black;
    background-color:lightcoral;
    padding: 2px 4px;
}
a:visited {
    color:black;
}
li {
    list-style-type:circle;
}
@media screen and (min-width:801px) {
    #container {
        font-size: 1em;
    }
}

@media screen and (max-width:800px) {
    #container {
      font-size: 3em;
    }
}